@model ChangePasswordViewModel

@{
    ViewBag.Title = "Change your password";
    Layout = "_Layout";
}

<h2>Change password</h2>

<form method="post" class="container">
    <div asp-validation-summary="ModelOnly"></div>
    <p class="text-success">@ViewBag.Message</p>
    <label for="CurrentPassword">Current password: <input type="password" asp-for="CurrentPassword" /></label>
    <span asp-validation-for="CurrentPassword" class="text-warning"></span>
    <label for="NewPassword">New password: <input type="password" asp-for="NewPassword" /></label>
    <span asp-validation-for="NewPassword" class="text-warning"></span>
    <button type="submit">Submit</button>
</form>