@model ForgotPasswordViewModel

@{
    ViewBag.Title = "Forgot your password?";
    Layout = "_Layout";
}

<h2>Forgot password</h2>

<form method="post" class="container">
    <div asp-validation-summary="ModelOnly"></div>
    <p class="text-success">@ViewBag.Message</p>
    <label for="email">Email: <input type="email" asp-for="Email"/></label>
    <span asp-validation-for="Email" class="text-warning"></span>
    <button type="submit">Submit</button>
</form>