@model _04LibraryWeb.Models.LoginViewModel;
@{

    ViewData["Title"] = "Login";
}


<div class="text-left">
    <h2>Login</h2>
    <form method="post" class="container">
        <div asp-validation-summary="ModelOnly"></div>
        <label for="email">Email: <input type="email" asp-for="Email"/></label>
        <span asp-validation-for="Email" class="text-warning"></span>
        <label for="password">Password: <input type="password" asp-for="Password"/></label>
        <span asp-validation-for="Password" class="text-warning"></span>
        <button type="submit">Login</button>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}