@model _04LibraryWeb.Models.UserInfoViewModel

@{
    ViewBag.Title = "User information";
    Layout = "_Layout";
}

<h2>User information</h2>
<div class="container">
    <div class="row">
        <div class="col">
            <img src="@Url.Content(ViewBag.AvatarUrl)" alt="Profile Picture" width="200px"/>
        </div>
        <form method="post" class="col-6">
            <p class="text-success">@ViewBag.Message</p>
            <div asp-validation-summary="ModelOnly"></div>
            <label for="firstName">First Name: <input asp-for="FirstName"/></label>
            <span asp-validation-for="FirstName" class="text-warning"></span>
            <label for="lastName">Last Name: <input asp-for="LastName"/></label>
            <span asp-validation-for="LastName" class="text-warning"></span>
            <label for="username">Username: <input asp-for="Username" readonly="readonly"/></label>
            <span asp-validation-for="Username" class="text-warning"></span>
            <label for="email">Email: <input asp-for="Email" readonly="readonly"/></label>
            <span asp-validation-for="Email" class="text-warning"></span>
            <label for="createdAt">Created At: <input asp-for="CreatedOn" readonly="readonly"/></label>
            <span asp-validation-for="CreatedOn" class="text-warning"></span>
            <button type="submit">Change</button>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}